<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <form class="employee-form" action="/add-employee" method="POST">
            <% if (!addMode) { %>
                <input type="hidden" name="employeeId" value="<%= employee.id %>">
            <% } %>
            <div class="form-group">
                <label for="name">Name</label>
                <input style="width: 200px" type="text" class="form-control" name="name" id="name" value="<% if (!addMode) { %><%= employee.name %><% } %>">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input style="width: 200px" type="email" class="form-control" name="email" id="email" value="<% if (!addMode) { %><%= employee.email %><% } %>">
            </div>
            <div class="form-group">
                <label for="designation">Designation</label>
                <input style="width: 200px" type="text" class="form-control" name="designation" id="designation" value="<% if (!addMode) { %><%= employee.designation %><% } %>">
            </div>
            <button type="submit" class="btn btn-primary"><% if (!addMode) { %>Update Employee<% } else { %>Add Employee<% } %></button>
        </form>
</body>
</html>